.list{
    margin: 0;
    list-style: none;
    padding: 0;
}
.name{
    margin-right: 30px;
}
.item:not(:last-child){
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    margin-left: 10px;
    padding: 3px;
     border: 1px solid #cecece;
     border-radius: 5px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.btn:hover,
.btn:focus{
    background-color: rgb(221, 49, 49);
    color: #fff;
    transform: scale(1.1);
}